<div class="page-wrapper">
    <div class="side-body">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <!-- PAGE HEADER -->
                <div class="page-header"><h1>Abrir caja</h1></div>
                <!-- FORM : YOU CAN DISABLE, HTML5 VALIDATION BY USING "novalidate" ATTRIBUTE-->
                <form  ng-submit="submitForm()" name="abrirCajaForm" style="margin-bottom:10px" novalidate>
                    <!-- Numero de caja del cliente-->
                    <div class="form-group">
                        <label>Número de caja</label>
                        <input type="number" name="numeroCaja" class="form-control" ng-model="numeroCaja" placeholder="Ingrese número de caja" onkeydown="return (event.key !== 'e' && event.key !=='+' && event.key !=='-' && event.key !== ',' && event.key !=='.')" ng-required="true">
                    </div>
                    <!--Saldo inicial de la caja-->
                    <div class="form-group">
                        <label>Saldo inicial</label>
                        <input type="number" name="saldoInicial" class="form-control" ng-model="saldoInicial" placeholder="Ingrese el efectivo actual en colones" onkeydown="return (event.key !== 'e' && event.key !=='+' && event.key !=='-' && event.key !== ',' && event.key !=='.')" ng-required="true">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="abrirCajaForm.$invalid" ng-click="abrirCaja()">Abrir</button>
                </form>
            </div>
        </div>
    </div>
</div>