<!--Se adhieren los diseños de las css-->
<link href="Estilos/Tablas.css" rel="stylesheet" />
<link href="Estilos/modals.css" rel="stylesheet" />

<!--Se incluye el menu lateral de la vista administrador-->
<ng-include src="urlAdmin"></ng-include>
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <!--Encabezado de la pagina-->
                <h1> Administración de proveedores</h1>
                <!--Boton para crear productos-->
                <div class="row">
                    <div class="container" align="center" style="width:830px; margin-bottom:-35px; margin-top:50px">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-backdrop="false" data-target="#modalCreacion">Agregar</button>
                    </div>
                </div>
                <!--Tabla en la que se muestran todos los productos-->
                <table>
                    <thead>
                        <tr><th colspan="3">Lista de medicamentos</th></tr>
                        <tr>
                            <th>Nombre</th>
                            <th colspan="2">Sede</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="proveedor in proveedores">
                            <td>{{proveedor.nombre}}</td>
                            <td>{{proveedor.sede}}</td>
                            <td>
                                <i class="material-icons button edit" ng-click="editar(proveedor)" data-toggle="modal" data-target="#editarProveedor">Detalles</i>
                                <i class="material-icons button delete" ng-click="borrarProveedor(proveedor.nombre)">Eliminar</i>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--Modal para editar proveedores-->
                <div class="modal fade" id="editarProveedor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="botoncerrarEditProvee">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Actualización de proveedor</h4>
                            </div>
                            <div class="modal-body">

                                <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                                <div class="bootstrap-iso">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <form method="post" name="proveedorActualizarForm" ng-submit="submitForm()" novalidate>
                                                    <!-- Nombre -->
                                                    <div class="form-group">
                                                        <label>Nombre</label>
                                                        <p>{{proveedor.nombre}}</p>
                                                    </div>

                                                    <!-- Sede -->
                                                    <div class="form-group" ng-class="{ 'has-error' : proveedorActualizarForm.sede.$invalid && (proveedorActualizarForm.sede.$dirty || submitted)}">
                                                        <label>Sede</label>
                                                        <input type="text" name="sede" class="form-control" ng-model="proveedor.sede" placeholder="Sede donde se encuentra el proveedor" ng-required="true">
                                                        <p ng-show="proveedorActualizarForm.sede.$error.required && (proveedorActualizarForm.sede.$dirty || submitted)" class="help-block">La sede es requerida.</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <div>
                                                            <button type="submit" class="btn btn-primary" ng-disabled="proveedorActualizarForm.$invalid" ng-click="editarProveedor()">Actualizar proveedor</button>
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Modal para crear proveedores-->
                <div class="modal fade" id="modalCreacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="botoncerrarCrearProvee">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Creación de proveedor</h4>
                            </div>
                            <div class="modal-body">
                                <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                                <div class="bootstrap-iso">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <form method="post" name="crearProveeForm" ng-submit="submitForm()" novalidate>
                                                    <!-- Nombre -->
                                                    <div class="form-group" ng-class="{ 'has-error' : crearProveeForm.prescripcion.$invalid && (crearProveeForm.prescripcion.$dirty || submitted)}">
                                                        <label>Nombre</label>
                                                        <input type="text" name="nombre" class="form-control" ng-model="nombre" placeholder="Nombre" ng-required="true">
                                                        <p ng-show="crearProveeForm.nombre.$error.required && (crearProveeForm.nombre.$dirty || submitted)" class="help-block">El nombre del producto es requerido.</p>
                                                    </div>

                                                    <!-- Sede -->
                                                    <div class="form-group" ng-class="{ 'has-error' : crearProveeForm.sede.$invalid && (crearProveeForm.sede.$dirty || submitted)}">
                                                        <label>Sede</label>
                                                        <input type="text" name="sede" class="form-control" ng-model="sede" placeholder="Sede donde se encuentra el proveedor" ng-required="true">
                                                        <p ng-show="crearProveeForm.sede.$error.required && (crearProveeForm.sede.$dirty || submitted)" class="help-block">La sede es requerida.</p>
                                                    </div>

                                                    <div class="form-group">
                                                        <div>
                                                            <button type="submit" class="btn btn-primary" ng-disabled="productoForm.$invalid" ng-click="agregarProveedor()">Crear producto</button>
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
