<!--Se adhieren los diseños de las css-->
<link href="Estilos/Tablas.css" rel="stylesheet" />
<link href="Estilos/modals.css" rel="stylesheet" />

<!--Se incluye el menu lateral de la vista administrador-->
<ng-include src="urlAdmin"></ng-include>
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <!--Encabezado de la pagina-->
                <h1> Administración de productos</h1>
                <!--Boton para agregar producto a sucursal-->
                <div class="row">
                    <div class="container" align="center" style="width:830px; margin-bottom:-35px; margin-top:50px">
                        <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-backdrop="false" ng-click="consultarSucursales()" data-target="#modalProductoSucursal">Agregar producto a una sucursal</button>
                    </div>
                </div>
                <!--Boton para crear productos-->
                <div class="row">
                    <div class="container" align="center" style="width:830px; margin-bottom:-35px; margin-top:50px">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-backdrop="false" data-target="#modalCreacion">Registrar nuevo producto</button>
                    </div>
                </div>
                <!--Tabla en la que se muestran todos los productos-->
                <table>
                    <thead>
                        <tr><th colspan="4">Lista de medicamentos</th></tr>
                        <tr>
                            <th>Nombre</th>
                            <th>Prescripcion</th>
                            <th colspan="2">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="medicamento in medicamentos">
                            <td>{{medicamento.nombre}}</td>
                            <td>{{medicamento.prescripcion}}</td>
                            <td>¢{{medicamento.precio}}</td>
                            <td>
                                <i class="material-icons button edit" ng-click="editar(medicamento)" data-toggle="modal" data-target="#editarMedicamento">Detalles</i>
                                <i class="material-icons button delete" ng-click="borrarMedicamento(medicamento.nombre)">Eliminar</i>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--Modal para editar medicamentos-->
                <div class="modal fade" id="editarMedicamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="botoncerrarEditProdu">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Actualización de producto</h4>
                            </div>
                            <div class="modal-body">

                                <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                                <div class="bootstrap-iso">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <form method="post" name="productoActualizarForm" ng-submit="submitForm()" novalidate>
                                                    <!-- Nombre -->
                                                    <div class="form-group">
                                                        <label>Nombre</label>
                                                        <p>{{medicamento.nombre}}</p>
                                                    </div>

                                                    <!-- Prescripción -->
                                                    <div class="form-group" ng-class="{ 'has-error' : productoActualizarForm.prescripcion.$invalid  && (productoActualizarForm.prescripcion.$dirty || submitted)}">
                                                        <label>Prescripción</label>
                                                        <select ng-model="medicamento.prescripcion" class="form-control" name="prescipcion" required>
                                                            <option value="Sí" class="form-control">Sí</option>
                                                            <option value="No" class="form-control">No</option>
                                                        </select>
                                                        <p ng-show="productoActualizarForm.prescripcion.$error.required  && (productoActualizarForm.prescripcion.$dirty || submitted)" class="help-block">Seleccione la prescripcion.</p>
                                                    </div>

                                                    <!-- Proveedor  -->
                                                    <div class="form-group" ng-class="{ 'has-error' : productoActualizarForm.proveedor.$invalid  && (productoActualizarForm.proveedor.$dirty || submitted)}">
                                                        <label>Proveedor</label>
                                                        <select ng-model="medicamento.proveedor" name="proveedor" class="form-control" ng-required="true">
                                                            <option ng-repeat="proveedor in proveedores" value='{{proveedor.nombre}}'>{{proveedor.nombre}}</option>
                                                        </select>
                                                        <p ng-show="productoActualizarForm.proveedor.$error.required  && (productoActualizarForm.proveedor.$dirty || submitted)" class="help-block">El proveedor del producto es requerido.</p>
                                                    </div>

                                                    <!-- Precio -->
                                                    <div class="form-group" ng-class="{ 'has-error' : productoActualizarForm.medicamento.precio.$invalid && (productoActualizarForm.medicamento.precio.$dirty || submitted)}">
                                                        <label>Precio</label>
                                                        <input type="number" name="medicamento.precio" class="form-control" ng-model="medicamento.precio" placeholder="Precio en colones" ng-required="true">
                                                        <p ng-show="productoActualizarForm.medicamento.precio.$error.required && (productoActualizarForm.medicamento.precio.$dirty || submitted)" class="help-block">El precio del producto es requerido.</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <div>
                                                            <button type="submit" class="btn btn-primary" ng-disabled="productoActualizarForm.$invalid" ng-click="editarMedicamento()">Actualizar medicamento</button>
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!--Modal para crear productos-->
                <div class="modal fade" id="modalCreacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="botoncerrarCrearProdu">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Creación de producto</h4>
                            </div>
                            <div class="modal-body">
                                <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                                <div class="bootstrap-iso">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <form method="post" name="productoForm" ng-submit="submitForm()" novalidate>
                                                    <!-- Nombre -->
                                                    <div class="form-group" ng-class="{ 'has-error' : productoForm.prescripcion.$invalid && (productoForm.prescripcion.$dirty || submitted)}">
                                                        <label>Nombre</label>
                                                        <input type="text" name="nombre" class="form-control" ng-model="nombre" placeholder="Nombre" ng-required="true">
                                                        <p ng-show="productoForm.nombre.$error.required && (productoForm.nombre.$dirty || submitted)" class="help-block">El nombre del producto es requerido.</p>
                                                    </div>

                                                    <!-- Prescripción -->
                                                    <div class="form-group" ng-class="{ 'has-error' : productoForm.prescripcion.$invalid  && (productoForm.prescripcion.$dirty || submitted)}">
                                                        <label>Prescripción</label>
                                                        <select class="form-control" ng-model="prescripcion" required>
                                                            <option value="Si" class="form-control">Sí</option>
                                                            <option value="No" class="form-control">No</option>
                                                        </select>
                                                        <p ng-show="productoForm.prescripcion.$error.required  && (productoForm.prescripcion.$dirty || submitted)" class="help-block">Seleccione si el producto tiene prescripcion.</p>
                                                    </div>

                                                    <!-- Proveedor  -->
                                                    <div class="form-group" ng-class="{ 'has-error' : productoForm.proveedor.$invalid  && (productoForm.proveedor.$dirty || submitted)}">
                                                        <label>Proveedor</label>
                                                        <select ng-model="proveedor" class="form-control" ng-required="true">
                                                            <option ng-repeat="prov in proveedores" value='{{prov.nombre}}'>{{prov.nombre}}</option>
                                                        </select>
                                                        <p ng-show="productoForm.proveedor.$error.required  && (productoForm.proveedor.$dirty || submitted)" class="help-block">El proveedor del producto es requerido.</p>
                                                    </div>

                                                    <!-- Precio -->
                                                    <div class="form-group" ng-class="{ 'has-error' : productoForm.precio.$invalid && (productoForm.precio.$dirty || submitted)}">
                                                        <label>Precio (en colones)</label>
                                                        <input type="number" name="precio" class="form-control" ng-model="precio" placeholder="Precio en colones" ng-required="true">
                                                        <p ng-show="productoForm.precio.$error.required && (productoForm.precio.$dirty || submitted)" class="help-block">El precio del producto es requerido.</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <div>
                                                            <button type="submit" class="btn btn-primary" ng-disabled="productoForm.$invalid" ng-click="agregarMedicamento()">Crear producto</button>
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Modal para ingresar medicamentos a una sucursal-->
                <div class="modal fade" id="modalProductoSucursal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="botoncerrarProduSucu">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Creación de producto</h4>
                            </div>
                            <div class="modal-body">
                                <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                                <div class="bootstrap-iso">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <form method="post" name="medicamentoSucuForm" ng-submit="submitForm()" novalidate>
                                                    <!-- Nombre -->
                                                    <div class="form-group" style="width:300px" ng-class="{ 'has-error' : medicamentoSucuForm.nombreMedicaSucu.$invalid && (medicamentoSucuForm.nombreMedicaSucu.$dirty || submitted)}">
                                                        <label>Nombre</label>
                                                        <input type="text" name="nombreMedicaSucu" class="form-control" ng-model="nombreMedicaSucu" placeholder="Asegúrese de que sea un nombre válido" ng-required="true">
                                                        <p ng-show="medicamentoSucuForm.nombreMedicaSucu.$error.required && (medicamentoSucuForm.nombreMedicaSucu.$dirty || submitted)" class="help-block">El nombre del medicamento es requerido.</p>
                                                    </div>
                                                    <!-- Sucursal -->
                                                    <div class="form-group" ng-class="{ 'has-error' : empleadoAcForm.sucursal.$invalid  && (empleadoAcForm.sucursal.$dirty || submitted)}">
                                                        <label>Sucursal</label>
                                                        <select ng-model="sucursalMedicaSucu" class="form-control" ng-required="true">
                                                            <option ng-repeat="sucursal in sucursales" value='{{sucursal.nombre}}'>{{sucursal.nombre}}</option>
                                                        </select>
                                                        <p ng-show="medicamentoSucuForm.sucursalMedicaSucu.$error.required  && (medicamentoSucuForm.sucursalMedicaSucu.$dirty || submitted)" class="help-block">La sucursal a la que pertenece el empleado es requerido.</p>
                                                    </div>
                                                    <!-- Cantidad actual-->
                                                    <div class="form-group" ng-class="{ 'has-error' : medicamentoSucuForm.cantidaActualdMedicaSucu.$invalid && (medicamentoSucuForm.cantidaActualdMedicaSucu.$dirty || submitted)}">
                                                        <label>Cantidad actual</label>
                                                        <input type="number" name="precio" class="form-control" ng-model="cantidaActualdMedicaSucu" placeholder="Ingrese la cantidad para el stock" ng-required="true">
                                                        <p ng-show="medicamentoSucuForm.cantidaActualdMedicaSucu.$error.required && (medicamentoSucuForm.cantidaActualdMedicaSucu.$dirty || submitted)" class="help-block">La cantidad es requerida.</p>
                                                    </div>
                                                    <!-- Cantidad minima -->
                                                    <div class="form-group" ng-class="{ 'has-error' : medicamentoSucuForm.cantidadMinMedicaSucu.$invalid && (medicamentoSucuForm.cantidadMinMedicaSucu.$dirty || submitted)}">
                                                        <label>Cantidad mínima</label>
                                                        <input type="number" name="cantidadMinMedicaSucu" class="form-control" ng-model="cantidadMinMedicaSucu" placeholder="Ingrese la cantidad mínima en stock" ng-required="true">
                                                        <p ng-show="medicamentoSucuForm.cantidadMinMedicaSucu.$error.required && (medicamentoSucuForm.cantidadMinMedicaSucu.$dirty || submitted)" class="help-block">La cantidad mínima es requerida.</p>
                                                    </div>
                                                    <!-- Cantidad promedio -->
                                                    <div class="form-group" ng-class="{ 'has-error' : medicamentoSucuForm.cantidadPromMedicaSucu.$invalid && (medicamentoSucuForm.cantidadPromMedicaSucu.$dirty || submitted)}">
                                                        <label>Cantidad promedio</label>
                                                        <input type="number" name="cantidadPromMedicaSucu" class="form-control" ng-model="cantidadPromMedicaSucu" placeholder="Ingrese la cantidad promedio en stock" ng-required="true">
                                                        <p ng-show="medicamentoSucuForm.cantidadPromMedicaSucu.$error.required && (medicamentoSucuForm.cantidadPromMedicaSucu.$dirty || submitted)" class="help-block">La cantidad promedia es requerida.</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <div>
                                                            <button type="submit" class="btn btn-primary" ng-disabled="medicamentoSucuForm.$invalid" ng-click="agregarMedicamento()">Crear producto</button>
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
